설명1

In [2]:
print('Hello World')

Hello World

In [3]:
print('A')

A

In [5]:
value=input('값을 입력해주세요.')

값을 입력해주세요.10

In [6]:
value

'10'

In [7]:
x=10

In [8]:
x

10

In [9]:
x,y,z=10,20,30

In [10]:
x

10

In [11]:
y

20

In [12]:
z

30

# 1.정수형

In [13]:
type(10)

int

In [14]:
type(10.0)

float

In [15]:
a=2
b=3
a,b

(2, 3)

In [16]:
a+b

5

In [17]:
a-b

-1

In [18]:
a

2

In [19]:
a*b

6

In [20]:
a/b

0.6666666666666666

In [21]:
a**b

8

In [22]:
a//b

0

In [23]:
a%b

2

In [24]:
a+b*a

8

In [25]:
(a+b)*a

10

#연습문제0.

In [26]:
a,b=7,3.0

In [27]:
c=a//b
print(c)

2.0

In [28]:
d=a%b
print(d)

1.0

In [29]:
e=a**b
print(e)

343.0

In [33]:
a,b=7,3.0
type(a),type(b)

(int, float)

In [34]:
c=int(b)

In [35]:
c

3

In [36]:
type(c)

int

In [37]:
d=float(a)

In [38]:
type(d)

float

In [39]:
d

7.0

In [43]:
mike=80

In [44]:
judy=75

In [45]:
sera=100

In [46]:
average=(mike+judy+sera)/3

In [47]:
average

85.0

In [48]:
int(average)

85

In [49]:
a=true
a

NameError: name 'true' is not defined

In [50]:
a=True
a

True

In [51]:
b=False
b

False

In [52]:
type(a)

bool

#비교연산자

In [53]:
a,b=1,2

In [55]:
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [56]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [57]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [58]:
a=10
print(a>10 or a==10)

True

In [59]:
not a>10

True

In [1]:
score1=input("점수1: ")

점수1: 50

In [ ]:
score2=input("점수2: ")

In [ ]:
a=None
a

In [ ]:
quote1='안녕하세요 저는 김유진입니다.'
print(quote1)
type(quote1)

In [2]:
quote1="""안녕하세요
저는 김유진입니다."""
print(quote1)

안녕하세요
저는 김유진입니다.

In [ ]:
a="사과"
b="과일"

In [5]:
quote2="\"김유진\"입니다."

In [6]:
quote3='"김유진"입니다.'
quote3

'"김유진"입니다.'

In [3]:
quote="안녕하세요. 김유진입니다."

In [4]:
quote

'안녕하세요. 김유진입니다.'

In [7]:
quote[0]

'안'

In [8]:
quote[1]

'녕'

In [9]:
quote[-1]

'.'

In [10]:
quote[0:6]

'안녕하세요.'

In [11]:
quote[3:12]

'세요. 김유진입니'

In [12]:
quote[:12]

'안녕하세요. 김유진입니'

In [13]:
quote[5:]

'. 김유진입니다.'

In [15]:
quote[:]

'안녕하세요. 김유진입니다.'

In [16]:
quote[::2]

'안하요 유입다'

In [17]:
quote[::-1]

'.다니입진유김 .요세하녕안'

In [18]:
quote[::-2]

'.니진김.세녕'

In [22]:
a='20190505chicken19000'
year=a[0:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]
print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

In [23]:
name='김유진'
major='computer'

In [24]:
intro='안녕하세요. %s입니다. 전공은 %s입니다.' % (name,major)
intro

'안녕하세요. 김유진입니다. 전공은 computer입니다.'

In [25]:
intro='안녕하세요. {}입니다. 전공은 {}입니다.'.format(name,major)
intro

'안녕하세요. 김유진입니다. 전공은 computer입니다.'

In [26]:
intro='안녕하세요. {0}입니다. 전공은 {1}입니다.'.format(name,major)
intro

'안녕하세요. 김유진입니다. 전공은 computer입니다.'

In [28]:
pi=3.14159
pi_def='PI는 %.2f입니다.' % pi
pi_def

'PI는 3.14입니다.'

In [29]:
f'PI는 {pi}입니다.'

'PI는 3.14159입니다.'

In [34]:
a='90:30:80'
math=a[0:2]
english=a[3:5]
science=a[6:]
avg=(int(math)+int(english)+int(science))/3
avgg='평균점수는 %s입니다.' %avg
print(avgg)

평균점수는 66.66666666666667입니다.

In [35]:
quote='안녕하세요. 김유진입니다.'
quote

'안녕하세요. 김유진입니다.'

In [36]:
len(quote)

14

In [37]:
quote.index('.')

5

In [39]:
'Apple'.upper(), 'Apple'.lower()

('APPLE', 'apple')

In [40]:
quote.replace('.','?')

'안녕하세요? 김유진입니다?'

In [41]:
quote.count('.')

2

In [43]:
a='    안녕하세요.   '
a

'    안녕하세요.   '

In [44]:
a.lstrip()

'안녕하세요.   '

In [45]:
a.rstrip()

'    안녕하세요.'

In [46]:
a.strip()

'안녕하세요.'

In [48]:
a='90:30:80'
b=a.split(':')
b

['90', '30', '80']

In [49]:
fruit="Apple Banana"
fruit_list=fruit.split(" ")
fruit_list

['Apple', 'Banana']

In [50]:
'.'.join(fruit_list)

'Apple.Banana'

In [51]:
'.'.join(b)

'90.30.80'

In [59]:
a="90:30:80"
a.strip()
a_list=a.split(":")
math=a_list[0]
english=a_list[1]
science=a_list[2]
avg=(int(math)+int(english)+int(science))/3
f'평균 점수는 {avg}입니다'

'평균 점수는 66.66666666666667입니다'

In [61]:
list(map(int,a_list))

[90, 30, 80]

In [62]:
a=[1,3.14,"Apple",['a','b','c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [63]:
len(a)

4

In [65]:
b=[]
type(b)

list

In [66]:
c=list()
c

[]

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(3,30,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [73]:
list1=list(range(3,30,3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [74]:
tuple1=tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [76]:
list1[0]

3

In [77]:
list1[1:5:2]

[6, 12]

In [78]:
list1[0]='a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [79]:
list1[1:4]=['b','c','d']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [80]:
del list1[-1]

In [81]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [82]:
'a' in list1

True

In [83]:
'e' in list1

False

In [84]:
'a' not in list1

False

In [85]:
list1+[10,20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [87]:
print(list1*3)

['a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24]

In [88]:
len(list1)

8

In [89]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [93]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a', 'a', 'a']

In [94]:
list1.extend(['b','c'])
#list1=list+[1,2]
list1

[0, 1, 2, 3, 4, 'a', 'a', 'a', 'b', 'c']

In [96]:
list1.append([3,4])

In [97]:
list1

[0, 1, 2, 3, 4, 'a', 'a', 'a', 'b', 'c', [3, 4]]

In [98]:
list1=list(range(5))

In [99]:
list1

[0, 1, 2, 3, 4]

In [100]:
a=list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [101]:
b=list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [102]:
list1.remove(2)
list1

[0, 3]

In [103]:
list1.insert(1,'a')
list1

[0, 'a', 3]

In [104]:
list1=[1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [105]:
list1.count(1)

2

In [106]:
list1.count(3)

1

In [107]:
list1.index(2)

2

In [108]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [111]:
list1.sort(reverse=True)
list1

[4, 3, 2, 2, 1, 1]

In [112]:
list1.sort()
list1

[1, 1, 2, 2, 3, 4]

In [113]:
list1

[1, 1, 2, 2, 3, 4]

In [114]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [115]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
tule1=tuple(list1)

In [117]:
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [118]:
tuple1[1]=4

TypeError: 'tuple' object does not support item assignment

In [119]:
list1=list(range(5))

In [120]:
list1

[0, 1, 2, 3, 4]

In [121]:
list2=list1
list2

[0, 1, 2, 3, 4]

In [126]:
list2.append(10)
list2

[0, 1, 2, 3, 4, 10]

In [124]:
a=10
b=a
a,b

(10, 10)

In [125]:
b=20
a,b

(10, 20)

In [127]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [128]:
list2=list1.copy()
list2

[0, 1, 2, 3, 4]

In [129]:
list2.append(10)
list2[0]='a'
list2

['a', 1, 2, 3, 4, 10]

In [130]:
list1

[0, 1, 2, 3, 4]

In [133]:
list1=[
    [1,2,3],[4,5,6,],[7,8,9]
]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [132]:
list2=list1.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [135]:
list2[0][1]='a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [136]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [137]:
list1=[
    [1,2,3],[4,5,6],[7,8,9]
]

In [138]:
import copy

In [139]:
list2=copy.deepcopy(list1)

In [140]:
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [141]:
list2[0][0]='a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [142]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [143]:
a={}
type(a)

dict

In [145]:
a=dict()
type(a)

dict

In [148]:
profile={
    'name':'김유진',
    'city':'Seoul',
    'height':158
}

In [149]:
profile

{'name': '김유진', 'city': 'Seoul', 'height': 158}

In [150]:
profile['name']

'김유진'

In [151]:
profile['city']

'Seoul'

In [154]:
profile=dict(
name='김유진',
city='Seoul',
height=158,
    friends=["Minsoo","Judy","Poll"]
)

In [155]:
profile

{'name': '김유진',
 'city': 'Seoul',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [156]:
'김유진'in profile

False

In [157]:
'name'in profile

True

In [158]:
'friends'in profile

True

In [161]:
profile['name']='손기은'
profile

{'name': '손기은',
 'city': 'Seoul',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [162]:
profile['name']='김유진'

In [163]:
profile

{'name': '김유진',
 'city': 'Seoul',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [164]:
profile['city']='Busan'

In [165]:
profile

{'name': '김유진',
 'city': 'Busan',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll']}

In [168]:
profile['math_score']=10

In [169]:
profile

{'name': '김유진',
 'city': 'Busan',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10}

In [170]:
profile.setdefault('english_score',100)

100

In [171]:
profile

{'name': '김유진',
 'city': 'Busan',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10,
 'english_score': 100}

In [172]:
profile.setdefault('english_score',50)

100

In [173]:
profile

{'name': '김유진',
 'city': 'Busan',
 'height': 158,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 10,
 'english_score': 100}

In [174]:
profile.update({
    'math_score':50,
    'height':170
})

In [175]:
profile

{'name': '김유진',
 'city': 'Busan',
 'height': 170,
 'friends': ['Minsoo', 'Judy', 'Poll'],
 'math_score': 50,
 'english_score': 100}

In [176]:
profile['name']

'김유진'

In [177]:
profile['comment']

KeyError: 'comment'

In [178]:
profile.get('name')

'김유진'

In [180]:
print(profile.get('comment'))

None

In [181]:
profile.get('comment',[])

[]

In [184]:
height=profile.pop('height')

KeyError: 'height'

In [183]:
print(height)

NameError: name 'height' is not defined

In [185]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'math_score', 'english_score'])

In [186]:
profile.values()

dict_values(['김유진', 'Busan', ['Minsoo', 'Judy', 'Poll'], 50, 100])

In [187]:
profile.items()

dict_items([('name', '김유진'), ('city', 'Busan'), ('friends', ['Minsoo', 'Judy', 'Poll']), ('math_score', 50), ('english_score', 100)])

In [188]:
profile.clear()

In [189]:
profile

{}

In [190]:
set1={1,2,3,3,3,3}
set1

{1, 2, 3}

In [191]:
list1=[1,2,3,3,3,3]
list(set(list1))

[1, 2, 3]

In [192]:
set2={3,4,5}
set2

{3, 4, 5}

In [193]:
set1|set2

{1, 2, 3, 4, 5}

In [194]:
set1&set2

{3}

In [195]:
set.intersection(set1,set2)

{3}

In [196]:
set1-set2

{1, 2}

In [197]:
set.difference(set1,set2)

{1, 2}

In [198]:
set1^set2

{1, 2, 4, 5}

In [199]:
{1}<=set1

True

In [200]:
set1<=set2

False

In [202]:
set1.issubset(set2)

False

In [203]:
{1,2,3}.isdisjoint({3,4,5})

False

In [204]:
bool(0)

False

In [205]:
bool(1)

True

In [206]:
bool(100)

True

In [207]:
bool(0.0)

False

In [208]:
bool(0.1)

True

In [209]:
bool('Hello')

True

In [210]:
bool(" ")

True

In [211]:
bool("")

False

In [212]:
bool([])

False

In [213]:
bool([ ])

False

In [214]:
bool([2])

True

In [215]:
bool({})

False

In [216]:
bool({ })

False

In [217]:
bool({2})

True

제어문

In [218]:
x=10

In [220]:
if x==10:
    print('x는 10입니다.')

x는 10입니다.

In [221]:
if x!=10:
    print('x는 10이 아닙니다.')

In [222]:
if x==10:
    pass

In [223]:
if x>3 and x<20:
    print('x는 3보다 크고 20보다 작습니다.')

x는 3보다 크고 20보다 작습니다.

In [224]:
if x>3:
    print('x는 3보다 큽니다.')
    if x>=10:
        print('x는 10보다 크거나 같습니다.')
    if x<20:
        print('x는 20보다 작습니다.')

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [225]:
if x>5:
    print('x는 5보다 큽니다.')
else:
    print('는 5보다 작거나 같습니다.')

x는 5보다 큽니다.

In [226]:
if x>5:
    print('x는 5보다 큽니다.')
elif x>2:
    print('x는 2보다 큽니다.')
elif x>0:
    print('x는 0보다 큽니다.')
else:
    print('x는 음수입니다.')

x는 5보다 큽니다.

In [227]:
score1=input('점수1: ')
score2=input('점수2: ')
score3=input('점수3: ')

점수1: 70
점수2: 50
점수3: 80

In [237]:
score1=input('점수1: ')
score2=input('점수2: ')
score3=input('점수3: ')

점수1: 70
점수2: 50
점수3: 120

In [239]:
if (int(score1)<0 or int(score1)>100) or (int(score2)<0 or int(score2)>100) or (int(score3)<0 or int(score3)>100) :
    print('잘못된 점수가 입력되었습니다.')
elif int(score1)>65 and int(score2)>65 and int(score3)>65:
    print('합격')
else:
    print('불합격')

잘못된 점수가 입력되었습니다.

In [243]:
score=input('정수를 입력해주세요: ')

정수를 입력해주세요: 8

In [248]:
if int(score)%2==1:
    print('입력하신 %s은 홀수입니다.'%score)
else:
    print('입력하신 %s은 짝수입니다.'%score)

입력하신 8은 짝수입니다.

In [249]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [250]:
profile={
    'name':'김유진',
    'height':158,
    'city':'Seoul'
}

In [251]:
for i in profile:
    print(i)

name
height
city

In [252]:
for i in "Orange":
    print(i)

O
r
a
n
g
e

In [253]:
num=input('정수를 입력해주세요: ')

정수를 입력해주세요: 5

In [264]:
for i in range(int(num)):
    print('안녕')

안녕
안녕
안녕
안녕
안녕

In [ ]:
for i in